{% extends '@app/cms/layout/cms_layout.html.twig' %}

{% set css_style = 'show_all_paginated.css' %}

{% set page_title = 'title_cms'|trans %}
{% set active_item = 'cms' %}
{% set active_sub_item = '{aggregate_service}' %}

{% set flash_values = flash('value') %}
{% set pagination = session('pagination') %}

{% set local = session('local') %}

{% block content %}

    <div class="content-md">

        <h1>{{ flash_values.page_title|trans }}:</h1>

        <div class="tbl-header">
            <table cellpadding="0" cellspacing="0" border="0">
                <thead>
                <tr>
                    <th class="text-left">n°</th>
                    <th class="text-center">{{ '{left_relation}'|trans }}</th>
                    <th class="text-center">{{ '{right_relation}'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>

        <div class="tbl-content">
            <table cellpadding="0" cellspacing="0" border="0">
                <tbody>
                    {% set {left_prefix}={prefix}.{left_relation} %}
                    {% set {right_prefix}={prefix}.{right_relation} %}
                    <tr>
                        <td class="text-left">{{ loop.index }}</td>
                        <td class="text-center">{{ {left_prefix}.ref }}</td>
                        <td class="text-center">{{ {right_prefix}.ref }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-right">
            <a class="btn btn-secondary" href="{{ url_for('cms.index') }}" role="button">{{ 'Back'|trans }}</a>
        </div>

    </div>

{% endblock %}